<div class="container-fluid" >
    <h3 class="mytitle" >Blood Camps</h3>
    <div class="card" *ngFor="let cl of campList">
      <div class="thumbnail"><img class="left" src="{{cl.image}}" width="50%"/></div>
      <div class="right">
        <h1>{{cl.title}}</h1>
        <p><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="float:left"></i>&nbsp;
        <b>VENUE:</b>{{ cl.venue }}</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<b>Timing:</b> {{ cl.time }}</p>
        <div class="separator"></div>
        <p>{{ cl.description }}</p>
        <h5>{{ cl.date }}</h5>
      <h6>{{ cl.month }}</h6>
    </div>
    </div>
<!--
    <div class="thumbnail"><img class="left" src="assets/camp/b2.jpg" width="50%"/></div>
    <div class="right">
      <h1>BLOOD DONATION CAMP Organized by Amity Institute of Biotechnology</h1>
      <p><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="float:left"></i>&nbsp;
      <b>VENUE:</b>Amity Institute of Biotechnology, AB – II Block, AMITY University Uttar Pradesh, Lucknow campus </p>
      <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<b>Timing:</b> 11:00 AM – 2:00 PM</p>
      <div class="separator"></div>
      <p>Blood donation is not hazardous and it proves to be a healthy habit that helps blood renewal. The objective of this camp was not just to collect blood units but also to make students aware about blood donation and its benefits. It was an effort to motivate students to come forward and donate for this noble cause. First time donors need to be encouraged so that once the initial hesitation/fear goes away, the donor will look forward to such camps in near future too. </p>
      <h5>07</h5>
    <h6>March</h6>
  </div>-->
  <!--<div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>
  </div>
  
  <div class="card">
    <div class="thumbnail"><img class="left" src="assets/camp/b3.png" width="50%"/></div>
    <div class="right">
      <h1>BLOOD DONATION CAMP Organized by Amity Institute of Biotechnology</h1>
      <p><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="float:left"></i>&nbsp;
      <b>VENUE:</b>Proximo Techsoft Pvt. Ltd. # 3, 2nd Floor, 100 Feet Ring Road,BTM Layout 2nd Stage,Bangalore – 560076.</p>
      <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<b>Timing:</b> 11:00 AM – 2:00 PM</p>
     
      <div class="separator"></div>
      <p>Blood donation is not hazardous and it proves to be a healthy habit that helps blood renewal. The objective of this camp was not just to collect blood units but also to make students aware about blood donation and its benefits. It was an effort to motivate students to come forward and donate for this noble cause. First time donors need to be encouraged so that once the initial hesitation/fear goes away, the donor will look forward to such camps in near future too. </p>
      <h5>03</h5>
    <h6>March</h6>
    </div>-->
    <!--<div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>-->
  <!--</div>

  <div class="card">
      <div class="thumbnail"><img class="left" src="assets/camp/b4.jpg" width="50%"/></div>
      <div class="right">
        <h1>Blood Donation Camp By EMPI Business School</h1>
        <p><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="float:left"></i>&nbsp;
        <b>VENUE:</b>EMPI Business School , south delhi Check Estimated Time  </p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<b>Timing:</b> 11:00 AM – 2:00 PM</p>
        
        <div class="separator"></div>
        <p>Blood donation is not hazardous and it proves to be a healthy habit that helps blood renewal. The objective of this camp was not just to collect blood units but also to make students aware about blood donation and its benefits. It was an effort to motivate students to come forward and donate for this noble cause. First time donors need to be encouraged so that once the initial hesitation/fear goes away, the donor will look forward to such camps in near future too. </p>
        <h5>21</h5>
      <h6>March</h6>
    </div>
  --><!--<div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>-->
  <!--</div>

    <div class="card">
        <div class="thumbnail"><img class="left" src="assets/camp/b1.jpg" width="50%"/></div>
        <div class="right">
          <h1>BLOOD DONATION CAMP Organized by Amity Institute of Biotechnology</h1>
          <p><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="float:left"></i>&nbsp;
          <b>VENUE:</b>Amity Institute of Biotechnology, AB – II Block, AMITY University Uttar Pradesh, Lucknow campus </p>
          <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<b>Timing:</b> 11:00 AM – 2:00 PM</p>
          <div class="separator"></div>
          <p>Blood donation is not hazardous and it proves to be a healthy habit that helps blood renewal. The objective of this camp was not just to collect blood units but also to make students aware about blood donation and its benefits. It was an effort to motivate students to come forward and donate for this noble cause. First time donors need to be encouraged so that once the initial hesitation/fear goes away, the donor will look forward to such camps in near future too. </p>
          <h5>10</h5>
        <h6>April</h6>

      </div>
      <div class="fab"><i class="fa fa-arrow-down fa-3x"> </i></div>     
    </div>
</div>
-->
