<div>
  <div class="container-fluid w3-red w3-center">
    <div class="row">
      <div class="col-xs-12 col-sm-8" style="padding:25px">
        <img src="assets/a3.png" width="35%">
  
        <h1>Values of donation</h1>
        <h5 class="w3-padding-32 just">Blood is sometimes collected using similar methods for therapeutic phlebotomy, similar to the ancient practice of bloodletting, which is used to treat conditions such as hereditary hemochromatosis or polycythemia vera. This blood is sometimes treated as a blood donation, but may be immediately discarded if it cannot be used for transfusion or further manufacturing.</h5>
  
        <p class="w3-padding-32 just">Today in the developed world, most blood donors are unpaid volunteers who donate blood for a community supply. In some countries, established supplies are limited and donors usually give blood when family or friends need a transfusion (directed donation). Many donors donate as an act of charity, but in countries that allow paid donation some donors are paid, and in some cases there are incentives other than money such as paid time off from work. Donors can also have blood drawn for their own future use (autologous donation). Donating is relatively safe, but some donors have bruising where the needle is inserted or may feel faint. </p>
  
      </div>
      <div class="col-xs-12 col-sm-4 whiteboard">
  
        <div class="row" >
            <form role="form" #userForm="ngForm" (submit)="registerUser(userForm)" method="POST" novalidate>
                 {{ userForm.value | json }}   
              <h2 class="bgred">Please Sign Up<br> <small class="bgred">It's free and always will be.</small></h2>
              <div class="row">
                <div class="col-xs-12 col-sm-6 ">
                  <div class="form-group">
                      <input #name="ngModel" [class.is-invalid]="name.invalid && name.touched" type="text" id="name"  name="name" class="form-control input-lg" placeholder="First Name" required ngModel>
                      <small class="text-danger" [class.d-none]="name.valid || name.untouched">First Name is required</small>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 ">
                  <div class="form-group">
                      <input #last_name="ngModel" [class.is-invalid]="last_name.invalid && last_name.touched" type="text" id="last_name"  name="last_name" class="form-control input-lg" placeholder="Last Name" required ngModel>
                      <small class="text-danger" [class.d-none]="last_name.valid || last_name.untouched">Last Name is required</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input #eid="ngModel" pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" [class.is-invalid]="eid.invalid && eid.touched" type="email" id="eid" name="eid" class="form-control input-lg" placeholder="Email Address" required ngModel>
                <div *ngIf="eid.errors && (eid.invalid && eid.touched)">
                  <small class="text-danger" *ngIf="eid.errors.required">Email is required</small>      
                  <small class="text-danger" *ngIf="eid.errors.pattern">Email is incorrect</small>      
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 ">
                  <div class="form-group">
                    <input #password1="ngModel" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})" [class.is-invalid]="password1.invalid && password1.touched" type="password" name="password1" id="password1" class="form-control input-lg" placeholder="Password" required  ngModel>
                    <small class="text-danger" [class.d-none]="password1.valid || password1.untouched">password is incorrect(use capital,small,special,numeric char)</small>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 ">
                  <div class="form-group">
                    <input #password_confirmation="ngModel" [class.is-invalid]="password_confirmation.invalid && password_confirmation.touched" type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" required ngModel>
                    <small class="text-danger" [class.d-none]="(password_confirmation.valid || password_confirmation.untouched) && password1.value== password_confirmation.value">confirm password is not match with password</small>

                  </div>
                </div>
              </div>
              <div class="row">
  
                <div class="col-xs-12 col-sm-2 ">
                  <span class="bgred">GENDER</span>
                </div>
                <div class="col-xs-12 col-sm-4 ">
                <div class="form-check">
                
                  <input class="form-check-input" type="radio"  name="gender" value="male" required ngModel>
                  <label class="bgred">Male</label>
                </div> 
                </div>
  
                <div class="col-xs-12 col-sm-6 ">
                  <div class="form-check">
                  <input class="form-check-input" type="radio"  name="gender" value="female"  required ngModel>
                  <label class="bgred">Female</label>
                </div> 
  
                </div>
              </div>
               <div class="form-group">
                <input type="date" name="date" class="form-control input-lg" placeholder="Choose a BirthDate" required ngModel>
                <span id="Birth"></span>
              </div>
              <div class="form-group">
  
                <input type="tel" #phn="ngModel" pattern="(\+91[\-\s]?)?[0]?(91)?[6789]\d{9}" [class.is-invalid]="phn.invalid && phn.touched" name="phn" id="phn" class="form-control input-lg" placeholder="Mobile no." required ngModel>
                <div *ngIf="phn.errors && (phn.invalid && phn.touched)">
                  <small class="text-danger" *ngIf="phn.errors.required">Mobile no. is required</small>      
                  <small class="text-danger" *ngIf="phn.errors.pattern">Mobile no. is incorrect</small>      
                </div>
              </div>
              <div ngModelGroup="adress">
                  <div class="form-group">
                      <textarea #street="ngModel" [class.is-invalid]="street.invalid && street.touched" class="form-control rounded-0"  rows="3" name="street" placeholder="Enter your Street" required ngModel></textarea>
                      <small class="text-danger" [class.d-none]="street.valid || street.untouched">street is required</small>
                    </div>
                  <div class="form-group">
                      <input #city="ngModel" [class.is-invalid]="city.invalid && city.touched" type="text" class="form-control rounded-0"  name="city" placeholder="Enter your City" required ngModel/>
                      <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required</small>
                  </div>
                  <div class="form-group">
                      <input #state="ngModel" [class.is-invalid]="state.invalid && state.touched" type="text" class="form-control rounded-0"  name="state" placeholder="Enter your State" required ngModel/>
                      <small class="text-danger" [class.d-none]="state.valid || state.untouched">state is required</small>
                  </div>
                  <div class="form-group">
                      <input #pincode="ngModel" pattern="([0-9]{6}|[0-9]{3}\s[0-9]{3})" [class.is-invalid]="pincode.invalid && pincode.touched" type="text" class="form-control rounded-0"  name="pincode" placeholder="Enter your PinCode" required ngModel/>
                      <div *ngIf="pincode.errors && (pincode.invalid && pincode.touched)">
                        <small class="text-danger" *ngIf="pincode.errors.required">pincode is required</small>      
                        <small class="text-danger" *ngIf="pincode.errors.pattern">pincode is incorrect</small>      
                      </div>
                  </div>

              </div>
              
              <div class="form-group">
                 <select name="bloodgroup" required class="custom-select" ngModel>
                    <option selected>Select your Blood Group</option>
                    <option *ngFor="let bg of bloodGroups">{{ bg }}</option>
                  </select>
              </div>
              <div class="form-group">
                  <input #whitecell="ngModel" type="number" class="form-control rounded-0"  name="whitecell" placeholder="WhiteCell(initially 0)"  required ngModel/>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" [disabled]="userForm.invalid" value="Register" class="btn btn-primary btn-block btn-lg" ></div>
                <div class="col-xs-12 col-md-6"><a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-success btn-block btn-lg">Login</a></div>
              </div>
            </form>
          </div>
        </div>
  
  
      </div>
  
  
  
  </div>
  </div>
  
