<div>
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li style="float:right !important;padding-right:20px"><a [routerLink]="['/login']" routerLinkActive="router-link-active"> Login</a></li>
  </ul>
  <header id="home" class="w3-container w3-red w3-center" style="padding:16px">
    <br>
    <h1 class="w3-margin w3-jumbo"><img src="assets/a3.png" width="30%" height="30%"></h1>
    <p class="w3-xlarge">Blood Bank</p>
    <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top submit" routerLink="/signUp" >GET STARTED</button>
  </header>
  </div>
  <div id="about" class="w3-row-padding w3-padding-64 w3-container" >
    <div class="w3-content">
      <div  class="w3-twothird">
        <h1>Donate Blood</h1>
        <h5 class="w3-padding-32 just">A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or made into biopharmaceutical medications by a process called fractionation (separation of whole-blood components). Donation may be of whole blood, or of specific components directly (the latter called apheresis). Blood banks often participate in the collection process as well as the procedures that follow it.
  
  </h5>
  
        <p class="w3-text-grey just">Today in the developed world, most blood donors are unpaid volunteers who donate blood for a community supply. In some countries, established supplies are limited and donors usually give blood when family or friends need a transfusion (directed donation). Many donors donate as an act of charity, but in countries that allow paid donation some donors are paid, and in some cases there are incentives other than money such as paid time off from work. Donors can also have blood drawn for their own future use (autologous donation). Donating is relatively safe, but some donors have bruising where the needle is inserted or may feel faint. </p>
      </div>
  
      <div class="w3-third w3-center">
  <img class="img-responsive" src="assets/a1.png" >
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
  <img class="img-responsive" src="assets/a2.png" >
      </div>
  
      <div class="w3-twothird just">
        <h1>Values of donation</h1>
        <h5 class="w3-padding-32 just">Blood is sometimes collected using similar methods for therapeutic phlebotomy, similar to the ancient practice of bloodletting, which is used to treat conditions such as hereditary hemochromatosis or polycythemia vera. This blood is sometimes treated as a blood donation, but may be immediately discarded if it cannot be used for transfusion or further manufacturing.</h5>
  
        <p class="w3-text-grey just">Today in the developed world, most blood donors are unpaid volunteers who donate blood for a community supply. In some countries, established supplies are limited and donors usually give blood when family or friends need a transfusion (directed donation). Many donors donate as an act of charity, but in countries that allow paid donation some donors are paid, and in some cases there are incentives other than money such as paid time off from work. Donors can also have blood drawn for their own future use (autologous donation). Donating is relatively safe, but some donors have bruising where the needle is inserted or may feel faint. </p>
      </div>
    </div>
  </div>
  <div id="news" class="w3-container ">
  <div class="w3-card w3-margin w3-margin-top w3-hover-shadow myShadow" style="background-color: #f90c0c7d;  width: 30%; padding:15px; float: left;">
      <div class="w3-container ">
        <h4 class="just w3-center"><b>Donor safety</b></h4>
        <p class="just">The donor is also examined and asked specific questions about their medical history to make sure that donating blood is not hazardous to their health. The donor's hematocrit or hemoglobin level is tested to make sure that the loss of blood will not make them anemic, and this check is the most common reason that a donor is ineligible.[29] Pulse, blood pressure, and body temperature are also evaluated. Elderly donors are sometimes also deferred on age alone because of health concerns.[30] The safety of donating blood during pregnancy has not been studied thoroughly, and pregnant women are usually deferred until six weeks after the pregnancy.</p><br><br><br>
      </div>
  </div>
  <div class="w3-card w3-margin w3-margin-top w3-hover-shadow myShadow" style="background-color: #f90c0c7d;  width: 30%; padding:15px;float: left;">
      <div class="w3-container ">
        <h4 class="just w3-center"><b>Storage and blood shelf life</b></h4>
        <p class="just">The collected blood is usually stored in a blood bank as separate components, and some of these have short shelf lives. There are no storage solutions to keep platelets for extended periods of time, though some are being studied as of 2008.[80] The longest shelf life used for platelets is seven days.[81]
  
  Red blood cells (RBC), the most frequently used component, have a shelf life of 35–42 days at refrigerated temperatures.[82][83] For (relatively rare) long-term storage applications, this can be extended by freezing the blood with a mixture of glycerol, but this process is expensive and requires an extremely cold freezer for storage.[40] Plasma can be stored frozen for an extended period of time and is typically given an expiration date of one year and maintaining a supply is less of a problem.</p>
      </div>
  </div>
  <div class="w3-card w3-margin w3-margin-top w3-hover-shadow myShadow" style="background-color: #f90c0c7d;  width: 30%; padding:15px; float: left;">
      <div class="w3-container ">
        <h4 class="just w3-center"><b>Donation levels</b></h4>
        <p class="just">The World Health Organization (WHO) recognizes World Blood Donor Day on 14 June each year to promote blood donation. This is the birthday of Karl Landsteiner, the scientist who discovered the ABO blood group system.[87] The theme of the 2012 World Blood Donor Day campaign, "Every blood donor is a hero" focuses on the idea that everyone can become a hero by giving blood. As of 2008, the WHO estimated that more than 81 million units of blood were being collected annually.[88]
  
  In the United States it is estimated that 111 million citizens are eligible blood donors,[89] or 37% of the population.[90] However less than 10% of the 37% eligible blood donors donate annually.[90] In the UK the NHS reports blood donation levels at "only 4%"[91] while in Canada the rate is 3.5%.</p>
      </div>
    </div>
  </div>
  <div id="contact" class="w3-container w3-black w3-center w3-opacity w3-padding-64">
      <h1>Quote of the day: Donate Blood</h1>
      <br>
      <h4>Name:Mr. Jay Patel,Mr.Jil Patel </h4>
      <h4>Contact:+918141360202</h4>
      <h4>©2018 Blood Donation Organization-DDU. All rights reserved.</h4>
  </div>
  